<header>
  <div class="small-nav">
    <div class="container">
        <div class="text-end fs-6 me-5 pt-2">
            <a href="#"><i class="small-nav-icon fa-brands fa-facebook-f me-2 p-1"></i></a>
            <a href="#" class="small-nav-icon text-decoration-none me-2 p-1">in</a>
            <a href="#"><i class="small-nav-icon fa-brands fa-instagram p-1"></i></a>
        </div>
        <div class="row">
          <div class="col-xl-6">
              <div class="d-flex justify-content-start">
                  <div class="p-2">
                      <small style="color: #E5B559;"><i class="fa-regular fa-envelope me-1"></i></small>
                     <small class="text-white"> Email us : </small><small class="small-nav-content">info@iwandecoration.com</small>
                  </div>
                  <div class="p-2">
                    <small class="text-white"> Phone : </small><small class="small-nav-content"> +20 10 222 34 751</small>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="big-nav" style="background:hsla(220, 6%, 10%, 0.62) ">
      <nav class="navbar navbar-expand-lg navbar-light p-2 ms-lg-5">
          <div class="container mt-2">
              <a class="navbar-brand" routerLink="/home">
                  <img src="assets\iwan-.png" width="120" height="70" alt="">
              </a>
              <button class="navbar-toggler" style="background-color: white!important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse ms-3"  id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link active rounded-1"  aria-current="page" routerLink="/home">
                    <span class="p-xl-2">HOME</span> 
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link active rounded-1" aria-current="page" routerLink="/about">
                    <span class="p-xl-2">ABOUT</span>
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link rounded-1" routerLink="/projects">
                    <span class="p-xl-2">PROJECT</span>
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link rounded-1" routerLink="/videos"> 
                    <span class="p-xl-2">VIDEOS</span>
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link rounded-1" routerLink="/services">
                    <span class="p-xl-2">SERVICES</span>
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link rounded-1" routerLink="/collaborators">
                    <span class="p-xl-2">COLLABORATORS</span>
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link rounded-1" routerLink="/contact">
                    <span class="p-xl-2">CONTACT</span>                    
                  </a>
                </li>
                <li class="nav-item me-xl-3 me-md-1">
                  <a class="nav-link rounded-1" routerLink="">
                    <span class="p-xl-2">العربية</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
  </div>
</header>



