header{
    position: relative;
    z-index: 6;
    width: 100%;
}
.small-nav
{
    display: block;
    background:hsla(220, 6%, 10%, 0.62);
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
}
.small-nav-content
{
    color:  #cccccc;
}
.small-nav-content:hover 
{
    color: #E5B559;
    text-decoration: underline;
    cursor: pointer;
}
.small-nav-icon 
{
    color: white;
}
.small-nav-icon:hover
{
    color: #E5B559;
}
.big-nav{
    position: fixed;
    width: 100%;
    top: 10.3%;
    transition: 0.6s;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    background-color: #eec578;
    color: black;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    transition: 0.6s;
    margin-bottom: 4px;    
}

header ul li a span{
    margin-left: 0.2rem !important;
}

header ul li a:hover{
    background-color: white;
    color: #E5B559;
}

@media only screen and (max-width:1000px)
{
    header ul li a{
       background-color: hsla(220, 6%, 10%, 0.2);
       color: white;
    }
}
@media only screen and (max-width:1280px)
{
    .small-nav{
        display: none!important;
    }
    .big-nav{
        top: 0%!important;
    }
}



