<section class="slider-home">
    <div class="small-nav" style="background: #18191b9e">
        <div class="container">
            <div class="text-end fs-6 me-5 pt-2">
                <a href="#"><i class="small-nav-icon fa-brands fa-facebook-f me-2 p-1"></i></a>
                <a href="#" class="small-nav-icon text-decoration-none me-2 p-1">in</a>
                <a href="#"><i class="small-nav-icon fa-brands fa-instagram p-1"></i></a>
            </div>
            <div class="row">
              <div class="col-xl-6">
                  <div class="d-flex justify-content-start">
                      <div class="p-2 text-white">
                          <small style="color: #E5B559;"><i class="fa-regular fa-envelope me-1"></i></small>
                          Email us : <span class="small-nav-content">info@iwandecoration.com</span>
                      </div>
                      <div class="p-2 text-white">
                          Phone : <span class="small-nav-content"> +20 10 222 34 751</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <hr>
</section>

<!--end the small-nav which disappear-->

<header>
  <div style="background:#18191b9e ">
      <nav class="navbar navbar-expand-lg navbar-light p-2 ms-lg-5">
          <div class="container">
              <a class="navbar-brand" routerLink="">
                  <img src="assets\iwan-logo.webp" width="100" height="100" alt="">
              </a>
              <button class="navbar-toggler" style="background-color: white!important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse ms-5"  id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-xl-3">
                  <a class="nav-link active" aria-current="page" routerLink="">
                    <span style="color: #E5B559; font-size: 6px;"> <i class="fa-solid fa-circle"></i></span> HOME
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link active" aria-current="page" routerLink="">
                    <span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> ABOUT
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link" routerLink="">
                    <span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> PROJECT 
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link" routerLink=""> 
                    <span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> VIDEOS 
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link" routerLink="">
                    <span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> SERVICES
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link" routerLink="">
                    <span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> COLLABORATORS
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link" routerLink=""><span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> 
                    CONTACT
                  </a>
                </li>
                <li class="nav-item me-xl-3">
                  <a class="nav-link" routerLink="">
                    <span style="color: #E5B559; font-size:6px;"> <i class="fa-solid fa-circle"></i></span> العربية
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
  </div>
</header>



