<footer>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 ">
                <img src="assets\logo-iwan-2.png" style="width: 25%; height: 40%;">
                <p>
                    IWAN is a construction & supplies company established in 2014, our role is to design, lead and implement commercials, and residual and governmental projects.
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                <h3>Quick Links</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item footer-list">
                        <span  class="footer-list"></span>
                        Home
                    </li>
                    <li class="list-group-item footer-list">
                        <span  class="footer-list">About</span>
                    </li>
                    <li class="list-group-item footer-list">
                        <span  class="footer-list">Projects</span>
                    </li>
                    <li class="list-group-item footer-list">
                        <span  class="footer-list">Services</span>
                    </li>
                    <li class="list-group-item footer-list">
                        <span  class="footer-list">collaborators</span>
                    </li>
                    <li class="list-group-item footer-list">
                        <span  class="footer-list">Contact</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                <h3>Contact Us</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span style="color: #E5B559;">ADDRESS: </span>
                         <span class="footer-list">2096 – Al-Arqam St. Ibn Abi Al-Arqam – Al-Miraj – Maadi – Cairo</span>
                    </li>
                    <li class="list-group-item">
                        <span style="color: #E5B559;">Phone: </span>
                        <span class="footer-list">  +2 010 222 34 751</span>  
                    </li>
                    <li class="list-group-item">
                        <span style="color: #E5B559;">Email: </span> 
                        <span class="footer-list"> info@iwandecoration.com</span>                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pb-5" style="background-color: black;">
        <div class="d-flex justify-content-around">
            <div>
                <small class="text-white"> © Copyright 2023 - IWAN created by ad2-group</small> 
            </div>
            <div>
                <a href="#"><i class="footer-icon fa-brands fa-facebook-f me-2 p-1"></i></a>
                <a href="#" class="footer-icon text-decoration-none me-2 p-1">in</a>
                <a href="#"><i class="footer-icon fa-brands fa-instagram p-1"></i></a>
            </div>
        </div>
    </div>
</footer>