<section class="slider-home">
    <div class="small-nav" style="background: #18191b9e">
        <div class="container">
            <div class="text-end fs-6 me-5 pt-2">
                <a href="#"><i class="small-nav-icon fa-brands fa-facebook-f me-2 p-1"></i></a>
                <a href="#" class="small-nav-icon text-decoration-none me-2 p-1">in</a>
                <a href="#"><i class="small-nav-icon fa-brands fa-instagram p-1"></i></a>
            </div>
            <div class="row">
              <div class="col-xl-6">
                  <div class="d-flex justify-content-start">
                      <div class="p-2 text-white">
                          <small style="color: #E5B559;"><i class="fa-regular fa-envelope me-1"></i></small>
                          Email us : <span class="small-nav-content">info@iwandecoration.com</span>
                      </div>
                      <div class="p-2 text-white">
                          Phone : <span class="small-nav-content"> +20 10 222 34 751</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  <hr>
  <div class="content-header">
    <div class="container text-center">
        <div class="d-flex justify-content-between">
            <div>
                <h2>ABOUT</h2>
            </div>
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/home" style="color: #E5B559;  text-decoration: none;">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page" >about</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
  </div>
</section>
<app-header></app-header>

<!--end (small-big) nav and slider-->

<section class="section-two text-white">
    <div class="row justify-content-center" style="background-color: black;">
        <div class="col-lg-5 col-xl-5 col-md-7 col-sm-12">
          <img src="assets\about\hospitaly-design.webp" style="height: 500px;">
        </div>
        <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
          <h3 class="mt-5">IWAN is a construction & supplies company established at 2014</h3>
            <ul>
                <li class="mb-2">
                    Our main role is designing, leading, and implementing commercial,
                    Residential, and Governmental Projects.
                </li>
                <li class="mb-2">
                    We seek for making comfortable and functional projects with an artistic
                    touch.
                </li>
                <li class="mb-2">
                    Our design team contains interior designers, Architecture & civil engineers to
                    make sure that the design is suitable for the customers.
                </li>
                <li class="mb-2">
                    Our implementation team contains engineers and workers in all fields.
                </li>
            </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInLeft">
          <h3 class="mt-5">Our Mission</h3>
          <ul>
            <li class="mb-2">
                Perform for our customers the highest level of quality design and construction services at fair and market-competitive prices.
            </li>
            <li class="mb-2">
                Ensure the longevity of our company throw repeat and referral business achieved by customer satisfaction in all areas including timelines, attention to detail, and service-minded attitudes.
            </li>
            <li class="mb-2">
                Maintain the highest levels of professionalism, integrity, honestly and fairness in our relationships with our suppliers, contractors, professional associates and customers.
            </li>
        </ul>
        </div>
        <div class="col-lg-5 col-xl-5 col-md-7 col-sm-12">
          <img src="assets\about\bg-side-5.jpg" style="height: 500px;">
        </div>
      </div>
      <div class="row justify-content-center" style="background-color: black;">
        <div class="col-lg-5 col-xl-5 col-md-7 col-sm-12">
          <img src="assets\apartment-finishing.webp" style="height: 400px;">
        </div>
        <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
          <h3 class="mt-5">Our Vision</h3>
          <ul>
            <li class="mb-2">
                Be with world’s premiere engineering, construction, and project management organization by achieving extraordinary results for our customers,
                building satisfying careers for our people, and earing affair return on the value we deliver.            </li>
            <li class="mb-2">
                All our projects incorporate a unique artistic image and functional solutions. Client is the soul of the project.
                Our main goal is to illustrate his/her values and individuality through design.            </li>
        </ul>
        </div>
      </div>
</section>

<!--end section-two-->

<section class="section-three mt-5 mb-5">
    <div class="container text-center">
      <h2>
        Talk with our sales team
      </h2>
      <div class="row justify-content-center mt-4">
        <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Your Inquiry" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
          <button type="button" class="btn">Send</button>
        </div>
      </div>
    </div>
</section>

<!--end section-three-->

<app-footer></app-footer>