<section class="slider-home">
  <div class="small-nav" style="background: #18191b9e">
    <div class="container">
      <div class="text-end fs-6 me-5 pt-2">
        <a href="#"><i class="small-nav-icon fa-brands fa-facebook-f me-2 p-1"></i></a>
        <a href="#" class="small-nav-icon text-decoration-none me-2 p-1">in</a>
        <a href="#"><i class="small-nav-icon fa-brands fa-instagram p-1"></i></a>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="d-flex justify-content-start">
            <div class="p-2 text-white">
              <small style="color: #E5B559;"><i class="fa-regular fa-envelope me-1"></i></small>
              Email us : <span class="small-nav-content">info@iwandecoration.com</span>
            </div>
            <div class="p-2 text-white">
              Phone : <span class="small-nav-content"> +20 10 222 34 751</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="content-header">
    <div class="container text-center">
      <div class="d-flex justify-content-between">
        <div>
          <h2>Projects</h2>
        </div>
        <div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home" style="color: #E5B559;  text-decoration: none;">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">projects</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<app-header></app-header>

<!--end (small-big) nav and slider-->

<section class="section-two mt-5 mb-5">
  <div class="container text-center">
    <div class="row justify-content-center mb-5">
      <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 list-section-two">
        <ul>
          <li><a href="#">commercial</a></li>
          <li><a href="#">landscape & Swimming Pool</a></li>
          <li><a href="#">public projects</a></li>
          <li><a href="#">Residential</a></li>
        </ul>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4" style="background-color: #E5B559;">
        <ul style="background-color: #E5B559;">
          <li><a href="#" class="text-dark">ALL PROJECTS</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\1.jpg">
            <div class="name-project">
              <h5 class="text-center">Abo Rayan Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\2.jpg">
            <div class="name-project">
              <h5 class="text-center">Wafflicios 6th of October</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\3.png">
            <div class="name-project">
              <h5 class="text-center">waffilicious hadaek elahram</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\4.png">
            <div class="name-project">
              <h5 class="text-center">waffilicious cozy</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\5.png">
            <div class="name-project">
              <h5 class="text-center">uko</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\6.png">
            <div class="name-project">
              <h5 class="text-center">mach cafe</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\7.png">
            <div class="name-project">
              <h5 class="text-center">Equal perfumes</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\8.png">
            <div class="name-project">
              <h5 class="text-center">beans brew</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\9.jpg">
            <div class="name-project">
              <h5 class="text-center"></h5>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\10.jpg">
            <div class="name-project">
              <h5 class="text-center">Rehana Plaza</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\11.jpg">
            <div class="name-project">
              <h5 class="text-center">Mr Moatasem ( ISOLA Compound )</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\12.jpg">
            <div class="name-project">
              <h5 class="text-center">Master Bedroom</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\13.jpg">
            <div class="name-project">
              <h5 class="text-center">Wafflicios Zayed</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\14.jpg">
            <div class="name-project">
              <h5 class="text-center">shawerma elreem tanta</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\15.jpg">
            <div class="name-project">
              <h5 class="text-center">Palm Hills Villa</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\16.jpg">
            <div class="name-project">
              <h5 class="text-center">New Cairo Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\17.jpg">
            <div class="name-project">
              <h5 class="text-center">Nasr City Apratment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\18.jpg">
            <div class="name-project">
              <h5 class="text-center">Eldokki Apartment</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\19.jpg">
            <div class="name-project">
              <h5 class="text-center">El Obour Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\20.jpg">
            <div class="name-project">
              <h5 class="text-center">el Haram Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\21.jpg">
            <div class="name-project">
              <h5 class="text-center">Mountain View villa landscape</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\22.jpg">
            <div class="name-project">
              <h5 class="text-center">Bait Al Watan</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\23.jpg">
            <div class="name-project">
              <h5 class="text-center">SHAWERMA ELREEM Marina</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\24.jpg">
            <div class="name-project">
              <h5 class="text-center">SHAWERMA ELREEM al-ahly club</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\25.jpg">
            <div class="name-project">
              <h5 class="text-center">SHAWERMA ELREEM Alex</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\26.jpg">
            <div class="name-project">
              <h5 class="text-center">SHAWERMA ELREEM zayed</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\27.jpg">
            <div class="name-project">
              <h5 class="text-center">SHAWERMA ELREEM MATARIA</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\28.jpg">
            <div class="name-project">
              <h5 class="text-center">SHAWERMA ELREEM Alrehab</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\29.jpg">
            <div class="name-project">
              <h5 class="text-center">DAR AL ESHARA hall entrance</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\30.jpg">
            <div class="name-project">
              <h5 class="text-center">DAR AL ESHARA fountain</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\31.jpg">
            <div class="name-project">
              <h5 class="text-center">Dar Al Eshara Elsalam hall</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\32.jpg">
            <div class="name-project">
              <h5 class="text-center">Dar Al Eshara Elsalam hall Bathroom</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\33.webp">
            <div class="name-project">
              <h5 class="text-center">Dar Al Eshara</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\34.jpg">
            <div class="name-project">
              <h5 class="text-center">Daddy’s Meraki Complex</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\35.jpg">
            <div class="name-project">
              <h5 class="text-center">Daddy’s El Obour</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\36.jpg">
            <div class="name-project">
              <h5 class="text-center">Bait Nagwa</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\37.jpg">
            <div class="name-project">
              <h5 class="text-center">Zonzai Asian House</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\38.jpg">
            <div class="name-project">
              <h5 class="text-center">Yildiz Café</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\39.jpg">
            <div class="name-project">
              <h5 class="text-center">Wafficious</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\40.jpg">
            <div class="name-project">
              <h5 class="text-center">Red Sea</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\41.jpg">
            <div class="name-project">
              <h5 class="text-center">Bean N Bun</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\42.jpg">
            <div class="name-project">
              <h5 class="text-center">Nasr City Duplex</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\43.jpg">
            <div class="name-project">
              <h5 class="text-center">Masr ElGedida Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\44.jpg">
            <div class="name-project">
              <h5 class="text-center">Hyde Park Duplex Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\45.jpg">
            <div class="name-project">
              <h5 class="text-center">Granda – Elsherouk Apartment</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\46.jpg">
            <div class="name-project">
              <h5 class="text-center">Calma Villa</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\47.jpg">
            <div class="name-project">
              <h5 class="text-center">beverly hills Duplex</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\48.jpg">
            <div class="name-project">
              <h5 class="text-center">Al-Moqatam Villa</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\49.jpg">
            <div class="name-project">
              <h5 class="text-center">5th statment villa</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\50.jpg">
            <div class="name-project">
              <h5 class="text-center">Hany Mosa</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\51.jpg">
            <div class="name-project">
              <h5 class="text-center">Watania Office</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\52.jpg">
            <div class="name-project">
              <h5 class="text-center">Dar Al Eshara Office</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\53.jpg">
            <div class="name-project">
              <h5 class="text-center">Iwan Office</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\54.jpg">
            <div class="name-project">
              <h5 class="text-center">panda house eldokki</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\55.jpg">
            <div class="name-project">
              <h5 class="text-center">panda house auc</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\56.jpg">
            <div class="name-project">
              <h5 class="text-center">Les dames elsherouk</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\57.jpg">
            <div class="name-project">
              <h5 class="text-center">les dames Nasr city</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\58.jpg">
            <div class="name-project">
              <h5 class="text-center">Villa Ren – Elsherouk</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\59.jpg">
            <div class="name-project">
              <h5 class="text-center">Villa 26 B</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\60.jpg">
            <div class="name-project">
              <h5 class="text-center">Sun Capital Duplex</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\62.jpg">
            <div class="name-project">
              <h5 class="text-center">Hyde Park Apartment</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\63.jpg">
            <div class="name-project">
              <h5 class="text-center">villa el shorouk</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
        <a routerLink="/project-details">
          <div class="projects-section-two">
            <img src="assets\projects\64.jpg">
            <div class="name-project">
              <h5 class="text-center">HEART ATTACK el-mataria</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--end section-two-->

<section class="section-three mt-5 mb-5">
  <div class="container text-center">
    <h2>
      Talk with our sales team
    </h2>
    <div class="row justify-content-center mt-4">
      <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Your Name">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Your Inquiry" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
        <button type="button" class="btn">Send</button>
      </div>
    </div>
  </div>
</section>

<!--end section-three-->

<app-footer></app-footer>