.small-nav
{
    display: block;
}
.small-nav-content:hover 
{
    color: #E5B559;
    text-decoration: underline;
    cursor: pointer;
}
.small-nav-icon 
{
    color: white;
}
.small-nav-icon:hover
{
    color: #E5B559;
}
.slider-home{
    background-image: url('subheader-1.jpg');
    background-size: cover;
    height: 60vh;
}

.content-header
{
    position: relative;
    top: 60%;
    color: white;
}
.content-header h2{
    font-size: 32px;
    letter-spacing: 5px;
    padding-right: 40px;
    text-transform: uppercase;
    text-align: left;
    color: #ECEFF3;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.content-header li
{
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ECEFF3;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: white!important;
}

//////////////////////////////// (end header (small-nav))

.section-two ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202224;
    float: left;
}
  
.section-two li {
    float: left;
}
  
.section-two  li button {
    display: block;
    color: #888;
    padding: 10px;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 400px;
    line-height: 1.8em;
    text-align: center;
    float: left;
}
  
.list-section-two  li button:hover {
    background-color: #333333;
}

.projects-section-two
{
    position: relative;
    overflow: hidden;
    height: 250px;
    margin-bottom: 20px;
}
.projects-section-two img
{
    width: 100%;
    height: 100%;
    transition: .3s .5s transform;
}

.name-project
{
    position: absolute;
    top: 0%;
    opacity: 0;
    transition: .3s opacity;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(17, 17, 17, 0.9);
}

.projects-section-two:hover .name-project
{
    opacity: 1;
}

.projects-section-two:hover img{
    cursor: pointer;
    transform: scale(1.5,1.5);
}

.name-project h5{
    color:#E5B559 ;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 25%;
    position: relative;
    left: 150%;
    transition: 1s left;
}

.projects-section-two:hover h5{
    left: 0%;
}

//////////////////////////////// (end section-two)

.section-three  button 
{
    background-color: white;
    color: #202224;
    margin-top: 13px;
    transition: .2s .3s transform;
}

.section-three button:hover{
    background-color: #E5B559;
    color: #ddd;
    transform: scale(1.2,1.2);
}

.section-three h2{
    font-weight: 500;
    line-height: 1.2em;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: "Dosis", Arial, Helvetica, sans-serif;
}

//////////////////////////////// (end section-three)
@media only screen and (max-width:1280px)
{
    .small-nav{
        display: none;
    }
}

@media only screen and (max-width:1000px)
{
    .section-two 
    {
        padding: 25px;
    }
    .title
    {
        text-align: center;
        margin-left: 25%;
    }
    .breadCrumb{
        display: none;
    }
    .section-three{
        padding: 60px;
    }

    .slider-home {
        height: 50vh;
    }
    .content-header {
        top: 50%;
    }
}