.chat
{
    position: fixed;
    left: 3%;
    bottom: 2%;
}

.button-up
{
    position: fixed;
    right: 3%;
    bottom: 2%;
    display: none;
    cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> c0531a4d6285e5825b5d634d12fb4f9a9585e7a4
