<section class="slider-home">
    <div class="small-nav" style="background: #18191b9e">
        <div class="container">
            <div class="text-end fs-6 me-5 pt-2">
                <a href="#"><i class="small-nav-icon fa-brands fa-facebook-f me-2 p-1"></i></a>
                <a href="#" class="small-nav-icon text-decoration-none me-2 p-1">in</a>
                <a href="#"><i class="small-nav-icon fa-brands fa-instagram p-1"></i></a>
            </div>
            <div class="row">
              <div class="col-xl-6">
                  <div class="d-flex justify-content-start">
                      <div class="p-2 text-white">
                          <small style="color: #E5B559;"><i class="fa-regular fa-envelope me-1"></i></small>
                          Email us : <span class="small-nav-content">info@iwandecoration.com</span>
                      </div>
                      <div class="p-2 text-white">
                          Phone : <span class="small-nav-content"> +20 10 222 34 751</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  <hr>
  <div class="content-header">
    <div class="container text-center">
        <div class="d-flex justify-content-between">
            <div>
                <h2>services</h2>
            </div>
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/home" style="color: #E5B559;  text-decoration: none;">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page" >services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
  </div>
</section>
<app-header></app-header>

<!--end (small-big) nav and slider-->

<section class="text-white section-two">
    <div class="row justify-content-center">
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInLeft">
        <h3 class="mt-5">RESIDENTIAL DESIGN</h3>
        <p class="text-start mb-5">
          As a general contracting, finishing and decoration company, we set up many residential projects from
          construction to interior finishes and designs for decoration
          The design is done by a strong engineering team with extensive experience that allows speeds of execution and
          receipt of the highest standards of quality
          Our team’s focus is on achieving the satisfactory result of all tastes and equating the beauty of the shape and
          combining with the engineering aspect.
          All this is achieved through the quality of the ores used, and the ability to integrate and coordinate colors
          characteristically to get the quality required in the execution and get the taste required for the comfort of
          our customers.
          Our team’s focus is on achieving the satisfactory result of all tastes and equating the beauty of the shape and
          combining with the engineering aspect.
          All this is achieved through the quality of the ores used, and the ability to integrate and coordinate colors
          characteristically to get the quality required in the execution and get the taste required for the comfort of
          our customers.
        </p>
      </div>
      <div class="col-lg-6 col-xl-6 col-md-5 col-sm-12">
        <img src="assets\resedintial-design-Large.webp">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: black;">
      <div class="col-lg-6 col-xl-6 col-md-7 col-sm-12">
        <img src="assets\Restaurant-design-.webp" style="height: 300px;">
      </div>
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
        <h3 class="mt-5">RESTAURANTS DESIGN</h3>
        <p class="text-start">
          Iwan General Contracting, Finishing and Decoration is one of the few companies with years of experience,
          professional team and high training to do all the ventilation work which includes supply, installation of air
          conditioning devices, pulling machines and Fresh Air motors, also supply and installation of the fence for
          airing work and accessories.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInLeft">
        <h3 class="mt-5">ARCHITECTURAL DESIGN</h3>
        <p class="text-start mb-5">
          As a company specializing in the supervision and implementation of architectural and design projects, we offer a
          comprehensive range of services to ensure that your project is completed to the highest standards and quality
          required<br>
          Our team consists of strong, trained labor at the highest level, has enough experience to achieve what satisfy
          customers.<br>
          Iwan General Contracting, Decoration and Finishing Company has been working with many big name brands in the
          market, and their projects have been completed in a very short time with speed of execution and receipt, at an
          affordable price<br>
          Our business projects are delivered in 20 days, residential in 2 months, and public projects as soon as
          possible.<br>
          We work in order to give quality and professional expertise to distribute kitchen equipment and manufacture
          furniture for lounge brushes. Residential projects are distinctive for their supervision, implementation and
          design to suit all tastes
        </p>
      </div>
      <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12">
        <img src="assets\bb.webp">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: black;">
      <div class="col-lg-6 col-xl-6 col-md-7 col-sm-12">
        <img src="assets\apartment-finishing.webp" style="height: 300px;">
      </div>
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
        <h3 class="mt-5">APARTMENTS FINISHING</h3>
        <p class="text-start">
          Iwan finishes up apartments and residential facilities ends with long years of experience in this field, as
          evidenced by the strength of the team of trained workers at the highest level, which in turn culminates in the
          achievement of
          What matters to our customers is to achieve the beauty equation to match the space of each selected unit of
          colors
          and ores that reflect the customer’s taste with the highest quality and fastest time to receive the unit
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInLeft">
        <h3 class="mt-5">VILLA FINISHING</h3>
        <p class="text-start">
          The finishing of the villas contains many semi-complex details to contain the spaces. Our team has been working
          with sufficient experience in the market for more than 10 years with the required quality and speed of execution
          and receipt
          .
          External finishes:
          It is an important stage for what contains an aesthetic element while integrating engineering expertise to
          produce a stylised harmonious final shape with a high sense of taste, with the ability to attract and give it an
          element of excellence.
          Internal finishes:
          A realistic composition of the villa form is made from within, with the start of the work of extending
          electricity and plumbing and doing carpentry work, as well as extending the air conditioning systems for all
          rooms whether split conditioners, nets or central adaptations, along with decorations and colors, selection of
          ores and installation of ceramics
        </p>
      </div>
      <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12">
        <img src="assets\villa-finishing.webp">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: black;">
      <div class="col-lg-6 col-xl-6 col-md-7 col-sm-12">
        <img src="assets\e.webp" style="height: 300px;">
      </div>
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
        <h3 class="mt-5">COMMERCIAL DESIGN</h3>
        <p class="text-start">
          We offer our clients design consulting, space planning, and furniture selection to create a commercial space
          that serves our community.
          Our focus is on high-end furnishings, and we work with top designers, We will help you pick the perfect designer
          for your commercial project.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInLeft">
        <h3 class="mt-5">OFFICES FINISHING</h3>
        <p class="text-start">
          We specialize in many office finishes between Classic and Modern. And that the reality is highly operational and
          professional to match the reality with the design.
          Our team has 10 years experience in the field of administrative office finishing, a highly skilled team to give
          each office the desired touch, besides reaching the required quality and taking into account the right price for
          customers
          Time is an important factor for our company that is quick to execute and receive, especially for large projects
        </p>
      </div>
      <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12">
        <img src="assets\office-Design_.jpg" style="height: 400px;">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: black;">
      <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12">
        <img src="assets\club_.jpg" style="height: 300px;">
      </div>
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
        <h3 class="mt-5">PUPLIC PROJECTS</h3>
        <p class="text-start">
          Our public projects range from design and implementation of swimming pools, VIP halls, party halls, which are
          based on the ground. We care about the principle of fast-track delivery with the highest accuracy and quality
          standards required.
          Our work is crowned by a professional and highly experienced engineering team
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInLeft">
        <h3 class="mt-5">LANDSCAPE DESIGN & FINISHING</h3>
        <p class="text-start">
          The landscape design part is what distinguishes finishes and decoration companies, for their craftsmanship and
          high engineering skill
          Our team is characterized by specialization, skill mixed with a creative aspect with powerful engineering
          aspect, and shows the specialization aspect in design and fast execution and receipt.
          The most important architectural part of our creative touch is within Iwan Contracting, Finishing and
          Decoration. We focus on it in both landscape and hardcover as well as home garden design
          The main goal within our company is to exceed our customer expectations and add a different touch to our
          business.
        </p>
      </div>
      <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12">
        <img src="assets\PYNMYInNz8D9GsmOeuY9DJLGlM8xdI9lzxPoU_Q_IsU_plaintext_638139707326706755.jpg"
          style="height: 400px;">
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: black;">
      <div class="col-lg-6 col-xl-6 col-md-7 col-sm-12">
        <img src="assets\show-25.jpg" style="height: 300px;">
      </div>
      <div class="container col-lg-4 col-xl-4 col-md-6 col-sm-12 wow slideInRight">
        <h3 class="mt-5">SWIMMING POOL DESIGN & FINISHING</h3>
        <p class="text-start">
          wan Company is one of the few companies that have the privilege of working on various public projects with
          sovereign bodies and within the names of prestigious clubs, because it has a professional team of highly trained
          forces to design swimming pools Including Olympic, and then head to professional implementation which includes
          the work of installing a concrete drainage network, installing motors and building a terminal to suit the size
          and the size of the swimming pool
        </p>
      </div>
    </div>
</section>

  <!--end section-two-->

  <section class="section-three mt-5 mb-5">
    <div class="container text-center">
      <h2>
        Talk with our sales team
      </h2>
      <div class="row justify-content-center mt-4">
        <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Your Inquiry" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
          <button type="button" class="btn">Send</button>
        </div>
      </div>
    </div>
</section>

<!--end section-three-->

<app-footer></app-footer>