<app-header></app-header>>

<section class="slider-home">
  <div class="content-header">
    <div class="container text-center">
      <div class="d-flex justify-content-between">
        <div class="title">
          <h2>{{projectName}}</h2>
        </div>
        <div class="mt-auto breadCrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home" style="color: #E5B559;  text-decoration: none;">Home</a>
              </li>
              <li class="breadcrumb-item"><a routerLink="/projects"
                  style="color: #E5B559;  text-decoration: none;">PORTFOLIO</a></li>
              <li class="breadcrumb-item"><a routerLink="/project-category/{{slugName}}"
                  style="color: #E5B559;  text-decoration: none;">{{projectCategory}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{projectName}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!--end (small-big) nav and slider-->

<section class="section-two mb-5">
  <div class="row justify-content-start text-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 icon">
        <span><a><i class="fa-solid fa-angles-left"></i></a></span>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 icon">
        <span><a><i class="fa-solid fa-braille"></i></a></span>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 icon">
        <span><a><i class="fa-solid fa-angles-right"></i></a></span>
      </div>
  </div>
  <div class="container mt-5 section-two-projects">
    <div class="row justify-content-center mb-2 p-5">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" *ngFor="let item of images ;">
        <a>
          <div class="projects-section-two">
            <img src="{{item.image}}">
            <div class="name-project">
              <h5 class="text-center">{{item.name}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-start">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 social-icon">
        <span class="text-white fs-4">Share : </span>
        <span class="dot me-2">
          <a href="#">
            <i class="fa-brands fa-facebook-f fs-6 mt-2 text-white"></i>
          </a>
        </span>
        <span class="dot">
          <a href="#">
            <i class="fa-brands fa-twitter fs-6 mt-2 text-white"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<!--end section-two-->

<app-footer></app-footer>